- content_for :title , "Home"
- if logged_in?
	.row
		%aside{class: "col-md-4"}
			%section{class: "user_info"}
				= render 'shared/user_info'
			%section{class: "micropost_form"}
				= render 'shared/micropost_form'
- else
	%div{class: 'center jumbotron'}
		%h1 Welcome to the Sample App
		%h2 This is the home page for the
		= link_to "Ruby on Rails Tutorial", 'http://www.railstutorial.org/'
		sample application. 
		%br
		= link_to "Sign up now!", signup_path, :class => "btn btn-lg btn-primary"
		%br 
		%br
		= link_to image_tag("rails.png"), 'http://rubyonrails.org/'
	    
    









