- content_for :title , "Edit user"
%h1 Update your profile
.row
  .col-md-6.col-md-offset-3
    = form_for @user do |f| 
      = render 'shared/error_messages', object: f.object
      = f.label :name 
      = f.text_field :name, :class => 'form-control'

      = f.label :email 
      = f.email_field :email, :class => 'form-control' 
      %br
      = f.label :password 
      = f.password_field :password, :class => 'form-control'

      = f.label :password_confirmation, "Confirmation" 
      = f.password_field :password_confirmation, :class => 'form-control'

      = f.submit "Save changes", :class => "btn btn-primary"

    .gravatar_edit
      = gravatar_for @user 
      = link_to "change", "http://gravatar.com/emails", target: '_blank'


/ if any problem : = form_for(@user, url: signup_path) do |f|
