- content_for :title , "Sign up"
%h1 Sign up
%p This is the sign up page for the new user.
.row
  .col-md-6.col-md-offset-3
    = form_for @user do |f| 
      = render 'shared/error_messages', object: f.object
      = f.label :name 
      = f.text_field :name, :class => 'form-control'

      = f.label :email 
      = f.email_field :email, :class => 'form-control' 
      %br
      = f.label :password 
      = f.password_field :password, :class => 'form-control'

      = f.label :password_confirmation, "Confirmation" 
      = f.password_field :password_confirmation, :class => 'form-control'

      = f.submit "Create my account", :class => "btn btn-primary"


/ if any problem : = form_for(@user, url: signup_path) do |f|
