- content_for :title , @user.name
%div{:class => "row"}
 %aside{:class => "col-md-4"}
  %section{:class => "user_info"}
   %h1
    = gravatar_for @user
    = @user.name
 .col-md-8
  - if @user.microposts.any?
   %h3 
    microposts
    = @user.microposts.count
   %ol{class: "microposts"}
    = render @microposts
   = will_paginate @microposts

 