%html
    %head
        %title= full_title(yield(:title))
        = csrf_meta_tags 
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = render 'layouts/shim'
    %body
        = render 'layouts/header'
        .container
            - flash.each do |message_type, message|
                %div{:class => "alert alert-#{message_type}"}
                    = message
            = yield
            = render 'layouts/footer'
            = debug(params) if Rails.env.development?

